.popular {
  padding-top: 64px;
}

.popular_list {
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 20px;

  @include media() {
    overflow-x: scroll;
    gap: 20px;
    flex-wrap: nowrap !important;
  }

  li:nth-last-child(0) {

    @include media() {
      display: none;
    }
  }

  .popular_list_item {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    max-width: 400px;
    height: auto !important;;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      padding-top: 16px;
      color: rgb(42, 37, 75);
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0%;
      text-align: left;
    }

    p {
      color: rgb(42, 37, 75);
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}
